<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.poly.qlsach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HoaDonChiTiet.Add_Soluong_HDCTActivity"
            android:parentActivityName=".HoaDonChiTiet.HDCTActivity"></activity>
        <activity android:name=".HoaDonChiTiet.Add_maSach_HDCTActivity"
            android:parentActivityName=".HoaDonChiTiet.HDCTActivity"/>
        <activity android:name=".HoaDonChiTiet.Add_maHDCTActivity"
            android:parentActivityName=".HoaDonChiTiet.HDCTActivity"/>
        <activity android:name=".HoaDonChiTiet.ThongtinHDCTActivity"
            android:parentActivityName=".HoaDonChiTiet.HDCTActivity"/>
        <activity
            android:name=".HoaDonChiTiet.HDCTActivity"
            android:parentActivityName=".HoaDon.HoaDonActivity" />
        <activity
            android:name=".ThongKe.ThongKeActivity"
            android:parentActivityName=".Home.HomeActivity" />
        <activity
            android:name=".SachBanChay.SachBanChayActivity"
            android:parentActivityName=".Home.HomeActivity" />
        <activity
            android:name=".HoaDon.Add_dateHDActivity"
            android:parentActivityName=".HoaDon.HoaDonActivity" />
        <activity
            android:name=".HoaDon.Add_MaHDActivity"
            android:parentActivityName=".HoaDon.HoaDonActivity" />
        <activity
            android:name=".HoaDon.ThongTinHDActivityActivity"
            android:parentActivityName=".HoaDon.HoaDonActivity" />
        <activity
            android:name=".HoaDon.HoaDonActivity"
            android:parentActivityName=".Home.HomeActivity" />
        <activity
            android:name=".Sach.Add_GiaBiaActivity"
            android:parentActivityName=".Sach.SachActivity" />
        <activity
            android:name=".Sach.Add_SoLuongSachActivity"
            android:parentActivityName=".Sach.SachActivity" />
        <activity
            android:name=".Sach.Add_NXBSachActivity"
            android:parentActivityName=".Sach.SachActivity" />
        <activity
            android:name=".Sach.Add_TacGiaActivity"
            android:parentActivityName=".Sach.SachActivity" />
        <activity
            android:name=".Sach.Add_TenSachActivity"
            android:parentActivityName=".Sach.SachActivity" />
        <activity
            android:name=".Sach.Add_maTLSachActivity"
            android:parentActivityName=".Sach.SachActivity" />
        <activity
            android:name=".Sach.Add_MaSachActivity"
            android:parentActivityName=".Sach.SachActivity" />
        <activity
            android:name=".Sach.ThongTinSachActivity"
            android:parentActivityName=".Sach.SachActivity" />
        <activity
            android:name=".Sach.SachActivity"
            android:parentActivityName=".Home.HomeActivity" />
        <activity
            android:name=".TheloaiSach.Add_MotaTLActivity"
            android:parentActivityName=".TheloaiSach.TheLoaiSashActivity" />
        <activity
            android:name=".TheloaiSach.Add_ViTriTLActivity"
            android:parentActivityName=".TheloaiSach.TheLoaiSashActivity" />
        <activity
            android:name=".TheloaiSach.Add_TenTLActivity"
            android:parentActivityName=".TheloaiSach.TheLoaiSashActivity" />
        <activity
            android:name=".TheloaiSach.Add_MaTLActivity"
            android:parentActivityName=".TheloaiSach.TheLoaiSashActivity" />
        <activity
            android:name=".TheloaiSach.ThongTinTheLoaiActivity"
            android:parentActivityName=".TheloaiSach.TheLoaiSashActivity" />
        <activity
            android:name=".NguoiDung.Add_AddressActivity"
            android:parentActivityName=".NguoiDung.NguoiDungActivity" />
        <activity
            android:name=".NguoiDung.Add_PhoneActivity"
            android:parentActivityName=".NguoiDung.NguoiDungActivity" />
        <activity
            android:name=".NguoiDung.Add_PasswordActivity"
            android:parentActivityName=".NguoiDung.NguoiDungActivity" />
        <activity
            android:name=".NguoiDung.Add_UsernameActivity"
            android:parentActivityName=".NguoiDung.NguoiDungActivity" />
        <activity
            android:name=".NguoiDung.Add_NameActivity"
            android:parentActivityName=".NguoiDung.NguoiDungActivity" />
        <activity
            android:name=".NguoiDung.ThongTinNguoiDungActivity"
            android:parentActivityName=".NguoiDung.NguoiDungActivity" />
        <activity
            android:name=".TheloaiSach.TheLoaiSashActivity"
            android:parentActivityName=".Home.HomeActivity" />
        <activity
            android:name=".NguoiDung.NguoiDungActivity"
            android:parentActivityName=".Home.HomeActivity" />
        <activity android:name=".Home.HomeActivity" />
        <activity
            android:name=".Login.SignupActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Login.ForgorPaswordActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>